@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

.box-forms {
    padding-top: 150px;
}

.box-tittle-info>h1{
    color: #313131;
    font-size: 26px;
    margin-bottom:16px;
}

.box-tittle-info>p {
    color: #b6b6b6;
    font-size: 18px;
}

.form-informations {
    margin-top: 60px ;
}

.input-forms {
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.email-senha {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
}

.input-textarea {
    width: 100%;
}

.email-senha>label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #BC3FDB;
}

.email-senha>input, .email-senha>textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #BC3FDB;
    background-color: white;
    color: #852D9B;
}

.email-senha>input::placeholder, .email-senha>textarea::placeholder {
    color: #D79AE9;
}

.email-senha>input:focus, .email-senha>textarea:focus {
    outline: none;
    border-color: #852D9B;
}

.input_textarea>textarea {
    resize: none;
    height: 150px;
}

.button-form {
    font-size: 18px;
    padding: 22px 42px;
    background: linear-gradient(90deg, #DB49C4 0%, #BC3EDB 100%);
    border-radius: 5px;
    border: none;
    color: #f3f5f7;
}

.button-form:hover {
    opacity: 0.7;
    cursor: pointer;
}